@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0% 100%);
  --foreground: hsl(0, 0%, 19%);
  --secondary: hsl(0 0% 35%);
  --primary: hsl(359, 89%, 32%);
}

/* TODO: Add color scheme for dark mode */
@media (prefers-color-scheme: dark) {
}

@font-face {
  font-family: "Open Sauce Sans";
  src:
    url("/fonts/open-sauce-sans/OpenSauceSans-Regular.ttf") format("truetype"),
    url("/fonts/open-sauce-sans/OpenSauceSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src:
    url("/fonts/open-sauce-sans/OpenSauceSans-Bold.ttf") format("truetype"),
    url("/fonts/open-sauce-sans/OpenSauceSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sauce Sans", sans-serif;
}
